---
default_language_version:
  python: python3.9
default_stages: [ commit ]
fail_fast: false
minimum_pre_commit_version: 2.15.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [ "--fix=lf" ]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies: [
            'flake8-comprehensions==3.5.0',
            'flake8-debugger==4.0.0',
        ]
        args: ["--config=.flake8"]
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.0
    hooks:
      - id: isort
        args: ["--settings-file=.isort.cfg"]
  - repo: https://github.com/ambv/black
    rev: 21.10b0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
      - id: mypy
        entry: ./mypy_init.sh
