version: "3"

services:
  app:
    restart: always
    networks:
      - cobranet
    env_file:
      - ../.env/db.env # configure postgres
      - ../.env/app.env # configure application
    volumes:
      - ..:/code
    logging:
      driver: "json-file"
      options:
        max-size: "1024k"
        max-file: "5"

networks:
  cobranet:
